<div class="w-full">
    <footer class="footer bg-base-200/60 p-10">
        <div class="gap-6">
            <div class="flex items-center gap-2 text-xl font-bold">
                <img src="{{ logo.file.url }}" class="w-9 sm:w-9" alt="Social Logo" />
                <span>คณะสังคมศาสตร์</span>
            </div>
            <p class="text-base-content text-sm">มหาวิทยาลัยราชภัฏเชียงราย<br />เลขที่ 80 หมู่ 9 ถนนพหลโยธิน <br />
                อำเภอเมือง จังหวัดเชียงราย 57100
                <br /><br />
                <span class="icon-[tabler--phone] size-3"></span> 053 776 000 ต่อ 1211
            </p>

        </div>
        <nav class="text-base-content">
            <h6 class="footer-title">Services</h6>
            <a href="#" class="link link-hover">Branding</a>
            <span><a href="#" class="link link-hover">Design</a><span
                    class="badge ms-2 badge-sm badge-primary">New</span></span>
            <a href="#" class="link link-hover">Marketing</a>
            <a href="#" class="link link-hover">Advertisement</a>
        </nav>
        <nav class="text-base-content">
            <h6 class="footer-title">Company</h6>
            <a href="#" class="link link-hover">About us</a>
            <a href="#" class="link link-hover">Contact</a>
            <a href="#" class="link link-hover">Jobs</a>
            <a href="#" class="link link-hover">Press kit</a>
        </nav>
        <nav class="text-base-content">
            <h6 class="footer-title">Legal</h6>
            <a href="#" class="link link-hover">Terms of use</a>
            <a href="#" class="link link-hover">Privacy policy</a>
            <a href="#" class="link link-hover">Cookie policy</a>
        </nav>
    </footer>
    <footer class="footer bg-base-200/60 border-base-content/25 border-t px-6 py-4">
        <div class="flex w-full items-center justify-between">
            <aside class="grid-flow-col items-center">
                <p>©2025 <a class="link link-hover font-medium" href="/">Faculty of Social Sciences</a></p>
            </aside>
            <div class="flex h-5 gap-4">
                <a href="#" class="link" aria-label="Facebook Link">
                    <span class="icon-[tabler--brand-facebook] size-5"></span>
                </a>
                <a href="#" class="link" aria-label="youtube">
                    <span class="icon-[tabler--brand-youtube] size-5"></span>
                </a>
                <a href="#" class="link" aria-label="isntagram">
                    <span class="icon-[tabler--brand-instagram] size-5"></span>
                </a>
                <a href="#" class="link" aria-label="tiktok">
                    <span class="icon-[tabler--brand-tiktok] size-5"></span>
                </a>
            </div>
        </div>
    </footer>
</div>