<div data-carousel='{ "loadingClasses": "opacity-0", "isAutoPlay" : true , "isInfiniteLoop": true }' class="relative w-full">
  <div class="carousel rounded-none">
    <div class="carousel-body h-full opacity-0">
      {% for slide in slides %}
      <!-- Slide 1 -->
      <div class="carousel-slide">        
        {% if slide.link %}
        <a href="{{ slide.link }}" target="_blank">
        {% endif %}
        <div class="flex h-full justify-center">
          <img src="{{ slide.image.url }}" class="size-full object-cover" alt="{{ slide.title }}" />
        </div>
        {% if slide.link %}
        </a>
        {% endif %}
        
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Previous Slide -->
  <button type="button" class="carousel-prev">
    <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm">
      <span class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180"></span>
    </span>
    <span class="sr-only">Previous</span>
  </button>
  <!-- Next Slide -->
  <button type="button" class="carousel-next">
    <span class="sr-only">Next</span>
    <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm">
      <span class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"></span>
    </span>
  </button>
</div>